{% extends 'base.html.twig' %}

{% block title %}TeamProject index{% endblock %}

{% block body %}
    <h1>TeamProject index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Project Id</th>
                <th>Project Name</th>
                <th>Lien Gitlab</th>
            </tr>
        </thead>
        <tbody>
        {% for team_project in team_projects %}
            <tr>
                <td>{{ team_project.projectId }}</td>
                <td>{{ team_project.projectName }}</td>
                <td><a href="{{ team_project.projectUrl }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
