{% extends 'base.html.twig' %}

{% block title %}New TeamProject{% endblock %}

{% block body %}
    <h1>Create new TeamProject</h1>

    {{ include('team_project/_form.html.twig') }}

    <a href="{{ path('team_project_index') }}">back to list</a>
{% endblock %}
