<!doctype html>

<html lang="en">
<head>
    <style>

        body {
            font-family: "Comic Sans MS";
        }
    </style>

</head>

<body>
<h1>#BalanceTaMR</h1>
Bonjo

<table class="table table-striped">
    <thead>
    <tr>
        <th>Project Id</th>
        <th>Project Name</th>
        <th>Lien Gitlab</th>
    </tr>
    </thead>
    <tbody>
    {% for team_project in team_projects %}

        <tr>
            {% for merge in team_project %}
                <td>{{ merge.project_id }}</td>
                <td>{{ merge.title }}</td>
            {% endfor %}
        </tr>

    {% else %}
        <tr>
            <td colspan="3">Wow ! Pas de MR restantes !</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>

